@use '../helpers' as *;


.advantages {
  padding-top: fluid-to-laptop(65, 30);
  padding-bottom: fluid-to-laptop(88, 45);


  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }

  &__item {
    display: inline-grid;
    grid-template: auto auto / 85px 1fr;
    row-gap: 2px;
  }

  &__icon {
    justify-self: center;
    align-self: center;
    grid-row: span 2;
  }

  &__text {
    color: var(--color-gray-3);
  }
}