@use '../helpers' as *;

.burger-button {
  @include square(34px);

  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-light);
  flex-shrink: 0;

  @include hover {
    color: var(--color-primary);
  }

  &__line {
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background-color: currentColor;
    border-radius: 1rem;
    transition:
      transform var(--transition-duration) ease,
      opacity var(--transition-duration) ease,
      top var(--transition-duration) ease;


    &:first-child { top: 10px; }
    &:nth-child(2) { top: 16px; }
    &:last-child {
      top: 22px;
      width: calc(100% - 20px);
      left: auto;
    }
  }

  &.is-active {
    .burger-button__line {
      &:first-child {
        top: 16px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-10px);
      }

      &:last-child {
        top: 16px;
        width: calc(100% - 10px);
        transform: rotate(-45deg);
      }
    }
  }
}