@use '../helpers' as *;

.button {
  padding-inline: fluid-to-laptop(40, 30);
  padding-block: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;


  &--big {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-block: 24px;
    width: 100%;
    font-size: fluid(20, 16);

    @include hover {
      background-color: var(--color-white);
    }
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid  var(--color-primary);

    @include hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}