@use '../helpers' as *;

.cart-list {
  overflow: auto;
  max-height: 200px;

  &__img {
    flex: 0 0 auto;
    height: 100px;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
  }

  &__title {
    margin-bottom: 6px;
    cursor: pointer;
  }

  &__quantity {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__delete {
    color: var(--color-red-accents);
    font-size: 14px;

    @include hover {
      text-decoration: underline;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}