@use '../helpers' as *;

.cart {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__icon {
    position: relative;

      span {
      @include square(20px);

      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background-color: var(--color-primary);
      font-size: 12px;
      color: var(--color-white);
    }
  }

  &__body {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 15px;
    width: 300px;
    z-index: 5;
    background: var(--color-light-bg);
    border: 1px solid var(--color-border);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;
    transform: translate(0px, 20px);

    &.is-visible {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }

    @include mobile {
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
    }
  }
}