@use '../helpers' as *;

.footer {
  padding-bottom: fluid-to-laptop(50, 30);
  background-color: var(--color-white);

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr;
    column-gap: fluid-to-laptop(80, 40);
    border-top: 1px solid var(--color-gray-5);
    padding-top: fluid-to-laptop(80, 40);
    color: var(--color-gray-2);

    @include tablet {
      grid-template-columns: 2fr 1fr 1fr;
      justify-items: start;
      row-gap: 30px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &-text {
      max-width: 249px;
    }

    &-location {
      display: flex;
      align-items: center;
      column-gap: 8px;
      white-space: nowrap;
    }

    &-phone {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    &-link {
      display: block;
    }
  }

  &__list {

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      column-gap: 8px;

      @include mobile {
        padding-block: 10px;
        margin-bottom: 0;
      }

      &::after {
        content: '';
        display: none;

        @include mobile {
          display: block;
        }
      }
    }

    &-body {
      display: grid;
      grid-template-rows: 1fr;
      transition: grid-template-rows 0.3s ease;

      @include mobile {
        grid-template-rows: 0fr;
      }

      &.is-open {
        @include mobile {
          grid-template-rows: 1fr;
        }
      }
    }

    &-inner {
      min-height: 0;
      overflow: hidden;
    }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}