@use '../helpers' as *;

.label-slider {
  display: grid;
  grid-template-columns: auto 27px auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: start;
  gap: 8px;

  &:not(:last-child) {
    margin: 0 0 8px 0;
  }


  &__number {
    grid-row: 1;
  }

  &__line {
    grid-row: 1;
    height: 1px;
    background-color: var(--color-gray-2);
  }

  &__text {
    grid-row: 1;
  }

  &__title {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}