@use '../helpers' as *;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s ease;

  &.is-open {
    opacity: 1;
    visibility: visible;

    .popup__content {
      transform: scale(1);
    }
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    background-color: var(--color-white);
    border-radius: 12px;
    padding: 40px 32px;
    max-width: 480px;
    width: 100%;
    text-align: center;
    transform: scale(0.9);
    transition: transform 0.3s ease;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: var(--color-gray-3);
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-black);
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;

    color: var(--color-success);

    .is-error & {
      color: var(--color-error);
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
  }

  &__message {
    color: var(--color-gray-2);
    line-height: 1.5;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}