@use '../helpers' as *;

.search {
  position: relative;
  flex-grow: 1;
  margin-right: auto;
  max-width: 473px;

  &:has(.search__input:focus, .search__input:not(:placeholder-shown)) .search__label {
    scale: 0.7;
    translate: -4.55em -2.9em;
    color: var(--color-gray-1);
  }


  &__toggle {
    display: flex;
    justify-content: center;
    justify-self: end;
  }

  &__form {
    display: flex;
    width: 100%;



    @include tablet {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
      transition-duration: var(--transition-duration);
      box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
      padding-inline: 15px;
    }

    &.is-active {
      top: calc(64px + 66px);
      opacity: 1;
      visibility: visible;
    }
  }

  &__icon {
    position: absolute;
    top: 25%;
    left: 12px;

    @include tablet {
      left: 18px;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 45px;
    color: var(--color-gray-2);
    translate: 0 -50%;
  }

  &__input {
    width: 100%;
    height: 45px;
    border: none;

    @include mobile-above {
      padding-left: 40px;
      padding-right: 20px;

      background-color: var(--color-white);
    }
  }

  @include tablet {
    max-width: 473px;
  }
}