:root {
      --color-white: #ffffff;
      --color-black: #000000;
      --color-gray-1: #3a3a3a;
      --color-gray-2: #616161;
      --color-gray-3: #898989;
      --color-gray-4: #b0b0b0;
      --color-gray-5: #d8d8d8;
      --color-light-bg: #f4f5f7;
      --color-light-bg-alt: #fcf8f3;
      --color-primary: #E89F71;
      --color-green-accents: #2ec1ac;
      --color-red-accents: #e97171;
      --color-success: #1bd33c;
      --color-border: #e0e0e0;


   --font-family: 'Gilroy', sans-serif;
   --transition-duration: 0.2s;

   --container-width: 1240px;
   --container-padding-x: 15px;
}