

@use 'fonts';
@use 'globals';
@use 'utils';
@use 'vars';
@use 'normalize';

@use 'blocks/logo';
@use 'blocks/icon';
@use 'blocks/button';
@use 'blocks/subscribe';
@use 'blocks/form-error';
@use 'blocks/header';
@use 'blocks/menu';
@use 'blocks/dropdown';
@use 'blocks/search';
@use 'blocks/actions';
@use 'blocks/cart';
@use 'blocks/cart-list';
@use 'blocks/burger-menu';
@use 'blocks/popup';
@use 'blocks/slider-main';
@use 'blocks/slider';
@use 'blocks/advantages';
@use 'blocks/products';
@use 'blocks/article-product';
@use 'blocks/actions-product';
@use 'blocks/rooms';
@use 'blocks/slider-rooms';
@use 'blocks/label-slider';
@use 'blocks/tips';
@use 'blocks/slider-tips';
@use 'blocks/furniture';
@use 'blocks/row-furniture';
@use 'blocks/gallery-modal';
@use 'blocks/footer';




